.bRollPreviewContainer {
    // margin: 0;
    // padding: 0;
    // flex: 1 1 400px;
    position: relative;
    flex: 1 1 auto;
}

.bRollPreview {
    width: 100%;
    background-color: #000;
    border-radius: 0;
}

.trimBar {
    // position: absolute;
    bottom: 0px;
    width: 100%;
}