.bRollAnnotationsContainer {
    --tile-width: 200px;
    --hover-transition-time: 0.2s
}

.bRollAnnotation {
    width: var(--tile-width);
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: #7D829C;
    font-weight: 400;
    font-size: small;
    border-radius: 10px;
    // border: none;
    // border: 1px solid #000;
    // background-color: #2C2F38;
    margin: 10px;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: calc(var(--tile-width) * 9 / 16);
        // opacity: 0.7;
    }

    .annotationMetadata {
        position: relative;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #2F3246;
        padding: 15px;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .commentButton {
            position: absolute;
            bottom: 3px;
            right: 3px;
            cursor: pointer;
            border: none;
            padding: 3px;
            background-color: transparent;
            color: #7D829C;
        }
    }
}

.annotationHover {
    opacity: 0.6;
    transition: all var(--hover-transition-time) ease-out;
}

.hidden {
    display: none;
}