.bRollAnnotationsContainer {
    --tile-width: 45%;
    --hover-transition-time: 0.2s
}

.bRollAnnotation {
    width: var(--tile-width);
    height: fit-content;
    display: flex;
    flex-direction: column;
    // color: #7D829C;
    color: #F0F3F6;
    font-weight: 400;
    font-size: small;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 10px;
    // position: relative;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: calc(var(--tile-width) * 9 / 16);
    }

    .annotationMetadata {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2F3246;
        padding: 15px;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .commentButton {
            position: relative;
            right: -5px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            padding: 0;
            color: #7D829C;
        }

        span {
            width: 100%;
            height: fit-content;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            .tooltip {
                visibility: visible;
            }
        }
    }
}

.annotationHover {
    border: 2px solid var(--primary);
    transition: all var(--hover-transition-time) ease-out;
}

.hidden {
    display: none;
}

.tooltip {
    visibility: hidden;
    // visibility: visible;
    background-color: #5f6378;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 100%;
    // left: -60%;
    left: 0%;
    width: max-content;
    z-index:1;
    padding: 5px 10px;
    margin-left: auto;
}

/* Tooltip arrow */
.tooltip:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #5f6378 transparent;
}

// TODO: Make title and comment button in-line just as frame.io did in there's