.leftNavigation {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    // background: linear-gradient(180deg, #2b0e4b 0%, #171C47 100%);
    // background-color: rgba(0,0,0,0.8);
    flex: 1 1 auto;
    margin-right: var(--margin);

    button {
        padding: 8px 20px;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
        font-size: 20px;
        background-color: rgba(0,0,0,0);
        // opacity: 0.5;
        color: #fff;
    }
}
