@use './Button.module.scss';

.scriptTabs {
    flex: 3 1 600px;
    margin-right: var(--margin);
    padding: 0;
}

.scriptContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
}

// TODO: Make fonts consistent with everything else
.script {
    width: 100%;
    margin: 0;
    padding: 12px;
    resize: none;
    background-color: #000;
    background-color: #0F1015;
    background-color: #20222B;
    background-color: #2b2e3a;
    // box-shadow:inset 0px 0px 100px 0px rgba(255, 255, 255, 0.15);
    // background-image: linear-gradient(to bottom, #000, #000 35%, #111 50%, #000 65%);
    // color: #fff;
    color: #F0F3F6;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    overflow: auto;
    outline: none;
    flex: 1 1 auto;
    justify-content: center;

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #BBCBDD;
        background-color: #4e4f5a;
    }
}

.scriptToolbar {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: fit-content;
    padding: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #0F1015;
    background-color: #20222B;

    button {
        background-color: transparent;
        color: white;
        display: inline-block;
        &:hover {
            opacity: 0.5;
        }
    }
}

.tooltip {
    visibility: hidden;
    background-color: #5f6378;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: -60%;
    width: max-content;
    z-index:1;
    padding: 5px 10px;
    margin-left: auto;
}

.buttonWrapper {
    position: relative;
    &:hover {
        .tooltip {
            visibility: visible;
        }
    }
}

/* Tooltip arrow */
.tooltip:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #5f6378 transparent;
}

.comment::selection {
    background-color: #ff0;
}

.comment {
    // background-color: rgba(0, 118, 214, 0.5);
    // color: rgb(200, 200, 200);
    // &::selection {
    //     background-color: rgb(0, 118, 214);
    // }
    background-color: rgba(3, 123, 252, 0.5);
    color: rgb(200, 200, 200);
    &::selection {
        background-color: rgba(3, 123, 252, 1);
    }
}

.bRollAnnotation {
    background-color: rgba(125, 0, 255, 0.5);
    color: rgb(200, 200, 200);
    &::selection {
        background-color: rgba(125, 0, 255, 1);
        border-radius: 5px;

    }
}
