.workspaceNavbarContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--workspaceNavbarHeight);
    padding: var(--margin);
    background-color: transparent;
}

.navbarLogo {
    position: relative;
    top: 3px;
    font-size: 32px;
    color: var(--primary);
    padding: 0;
}

.leftNavbar {
    display: flex;
    align-items: center;

    span {
        color: #fff;
        height: fit-content;
    }

    * {
        margin-right: 10px;
    }
}

.rightNavbar {
    display: flex;
    align-items: center;

    * {
        margin-left: 10px;
    }
}
