:root {
  --primary: #585dea;
  // --primary: #3caea3;
  --margin: 15px;
  --margin: 10px;
  --background: linear-gradient(90deg, #27143c 0%, #121639 100%);
  --darkBackground: #20222B;
  --navbarHeight: 64px;
  --workspaceNavbarHeight: 56px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::-webkit-scrollbar {
  width: 6.5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #BBCBDD;
  background-color: #37383F;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
